@font-face {
  font-family: Sohne-Buch;
  src: url(../fonts/Sohne-Buch.woff);
}

html, body, main {
  font-family: 'Sohne-Buch', Roboto,system-ui, Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
  background-image: url("../images/bg/about.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  margin: 0;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  background-color: rgb(66, 66, 66);
  scrollbar-width: none;
  animation: zoomBackground 0.5s;
  user-select: none;
}

header{
  font-size: 15px;
  text-shadow: rgba(0, 0, 0, 0.9) 1px 0 10px; 
}
.intro{
  margin-top: 100px;
  font-size: 40px;
  /* margin-right: 150px;
  margin-left: 150px;   */
}

@media (min-width: 60rem) {
  .intro {
      font-size: 3.37125rem;
      line-height: 110%;
      letter-spacing: -.02em;
      font-weight: 400;
      margin-right: 50px;
      margin-left: 150px; 
  }
}

.card-content{
  margin-left: 150px;
}

.nav-link:hover {
  color: #fff !important; /* Cambia el color del texto a blanco */
}

/* Content Animation */
@keyframes scaleIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.animationContent{
  animation: scaleIn 0.5s ease forwards;
}

@keyframes zoomBackground {
  from {
    background-size: 110%; 
  }
  to {
    background-size: 100%; 
    filter: blur(1px);
  }
}
